<%- include('template/header'); %>

<div class="container">
    
    <seciton id="conteudo">
    </seciton>



<div class='home'>
    <div class="container-integracoes">
        <div class="col-sm-8">
            <h2>Integração do Ábaris com o <span>Prontuário de Documentos</span> do Lyceum</h2>
            <form id='dispara-lyceum'>
                <button class="btn btn-primary btn-integracao" id='btn-integracao'>Sincronizar Documentos&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa-solid fa-arrow-right"></i></button>
                <!--<button id="loading" disabled style="display: none;"></button>-->
                <button id="loading" class="btn btn-warning" style="display: none;">Carregando Documentos&nbsp;&nbsp;&nbsp;&nbsp; </button>
            </form>
        </div>
        
    </div>

    
    <div class="container container-logs">
        <div class="row">

          <div class="col-sm">
            <i class="fa-regular fa-clock"></i> 
            <h3>Últimas execuções</h3>
            <% log.sort((a, b) => new Date(b.date) - new Date(a.date)); %>
            <% for (const entry of log) { %>
              <% if (entry.date) { %>
                <% if (entry.quant > 0) { %>
                  <p><%= entry.date %> - <span><%= entry.quant %></span> Documentos Integrados com sucesso.</p>
                <% } else { %>
                  <p><%= entry.date %> - Não existem novos documentos para serem integrados.</p>
              <% } }%>
            <% } %>
          </div>

          
        </div>
    </div>

    
</div>


<div class="alert" id="msg"> </div>


</div>

<%- include('template/footer'); %>